name: CI
on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]
env:
  DB_USERNAME: ${{secrets.DB_USERNAME}}
  DB_PASSWORD: ${{secrets.DB_PASSWORD}}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Start MySql
        uses: shogo82148/actions-setup-mysql@v1
        with:
          mysql-version: "8.0"
      - run: |
         mysql -u root -e "CREATE DATABASE IF NOT EXISTS investor_db;"
         mysql -u root -e "CREATE USER '${DB_USERNAME}'@'%' IDENTIFIED BY '${DB_PASSWORD}';"
         mysql -u root -e "GRANT ALL PRIVILEGES ON investor_db.* TO '${DB_USERNAME}'@'%';"
      - name: Build and run unit tests
        run: mvn -B package --file pom.xml
      - name: Run integration tests
        run: mvn -B verify -Dspring.profile.active=local


